<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
                text-align: center;
            }
            nav{
                background: skyblue;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            main img{
                width: 40px;
                margin-right: 10px;
                position: relative;
                top: 12px;
            }
            main p{
                display: inline-block;
            }
            .container{
                display: grid;
                grid-template-areas: "profile desc";
                grid-template-columns: 1fr 2.3fr;
            }
            .profile {
                grid-area: profile ;
                min-height: 200px;
                min-width: 200px;
            }
            ul {
                grid-area: desc;
                justify-content: start;
                align-items: center;
            }
            ul li {
                list-style: none;
                font-size: 23px;
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>This Is Profile Page</h1>
        </header>
        <main>
            <div class="container">
                <img src="<%= user.thumbnail %>" class="profile"/>
                <ul>
                    <li>Name :    <%= user.username %></li>
                    <li>Email :    <%= user.email %></li>
                    <li>UserId :   <%= user.id %></li>
                    <li>googleId :    <%= user.googleId %></li>
                </ul>
            </div>
        </main>
    </body>
</html>
